@import "tailwindcss";

@theme inline {
  --color-black: #3A3A3A;
  --color-orange: #FF8D6E;

  --color-green: #116542;
  --color-green-50: #DFECFC;
  --color-green-100: #ACCEF5;
  --color-green-200: #90CBB3;
  --color-green-300: #62B794;
  --color-green-600: #116542;
  --color-green-700: #0d5034;
  --color-green-800: #0a3d27;

  --color-gray: #EDEDED;
  --color-gray-light: #B3B3B3;
  --color-gray-border: #818181;

  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
}
